# Django
SECRET_KEY='replace-with-a-generated-secret-key'
DEBUG=True

# Database
DATABASE_BACKEND=postgres
POSTGRES_DATABASE=mymoney
POSTGRES_USER=mymoney_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
